$ROOT_FONT_SIZE: 16;
$use-typo-scale: true;

@import 'mixins';
@import 'config';


$visual-min-width: 800px;
$content-min-width: 500px;
$wrapper-padding: 16px;

$container-max-bp: $visual-min-width + $content-min-width + $wrapper-padding;


@mixin container($include: false) {
    @if $include {
        --wrapper-inline: max(1rem, calc( (100vw - calc(var(--wrapper-width) - var(--wrapper-padding) * 2)) / 2));
    }    
    padding-inline: var(--wrapper-inline);
}

@each $prop, $val in get('sizing') {
    @if map-has-key($val , "text") {
        $text: map-get($val , "text");
        .text-#{$prop} {
            font-size: #{$text};
        } 
    }
}

:root {
    --primaryH: 26;
    
    --greyH: var(--primaryH);
    --greyS: 41%;
    --initialGreyLightness: 93%;

    --grey1: hsl(var(--greyH) var(--greyS) var(--initialGreyLightness));

    --c-background: var(--grey1);
    --body-font: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    --heading-font: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;

    --wrapper-width: 1440px;
    --wrapper-padding: #{$wrapper-padding};
    --wrapper-inline: max(1rem, calc( (100vw - calc(var(--wrapper-width) - var(--wrapper-padding) * 2)) / 2));

    --c-dark: hsl(20 5% 7%);
    --c-dark-tint: hsl(20 5% 23%);


    @include rootProps();

}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;    
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;   
    @supports not (container-type: inline-size) {
        display:none;   
    }
}

:is(*, *:before, *:after) {
    box-sizing: border-box;
} 

body {
    display: grid;
    place-items: center;
    grid-template: 1fr / 1fr;
    min-height: 100dvh;    
    background-color: var(--c-background);
    font-family: var(--body-font);    
    margin:0;
    color: var(--c-dark-tint);
    line-height: 1.5;
}

:is(.heading, h1, h2, h3, h4, h5, h6) {
    @include headingRules();
    margin-block-end: 0.5em;
    + * {
        margin-block-start: 0;
    }
}

.heading--main {
    @include main-heading();
}

.heading--6xl {
    @include heading-6xl();
}

.heading--5xl {
    @include heading-5xl();
}

.heading--4xl {
    @include heading-4xl();
}

.heading--3xl {
    @include heading-3xl();
}

.heading--2xl {
    @include heading-2xl();
}

.heading--xl {
    @include heading-xl();
}

.heading--l {
    @include heading-l();
}

.heading--m {
    @include heading-m();
}

.heading--eyebrow {
    @include heading-eyebrow();
}

:where(a, a:visited, a:active) {
    color: var(--c-dark);
}

:where(.button) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--headingFontFamily);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    background: var(--c-grey2); //hsl(36, 22%, 67%)
    padding: 0.5em clamp(0.5rem, 0.25rem + 3vw, 1.875em);
    color: var(--c-dark);
    border-radius: 0.25rem;
    font-size: clamp(calc(var(--text-s) / var(--textSizeIncrement)), 0.5rem + 1vw, var(--text-s));
    position: relative;
    font-weight: 600;
    flex-wrap: wrap;
}

:where(.button__title) {
    line-height:1;
}

:where(.button__subtitle) {
    font-size:0.75rem;
    line-height: 1;
}

:where(section) {
    width:100%;
}

details {
    div {
        p {
            &:first-of-type {
                margin-block-start: 0;
            }
        }
    }
}

summary {
    @include headingRules();
    margin-block-end: 0.5em;
    > div {
        > *:first-child {
            margin-block-start: 0;
        }
    }    
}

:where(.flow) > * + * {
    margin-block-start: var(--flow-space, 1.5em);
}

#__nuxt {
    display: contents;
    > :where(*) {
        inset: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;        
    }
}

:is(.main-portfolio__content, .main-portfolio__visual) {
    max-height: min(660px, 60cqh);
    margin: auto;
    height: 100%;    
}

.main-portfolio__visual {
    width: 100cqh;
    background: var(--c-dark);
    align-self: stretch;
    // grid-area: visual;
    position: relative;
    box-shadow: 0 0 0 1px var(--c-dark), 3px 3px 1px 1px rgba(0,0,0,.2);
    max-width: min(var(--visual-min-width), 100%);
    margin: auto 0;    

    aspect-ratio: 1921/1188;
    height: auto;
    max-height: initial;
    transform: rotateX(30deg) rotateY(14deg) rotateZ(-23deg);
    z-index:1;
    transition: all 2s cubic-bezier(0.23, 1, 0.320, 1);
    overflow:hidden;
    &:has(iframe) {
        aspect-ratio: 1921 / 1120;
    }
    &:hover {
        transform: rotateX(8deg) rotateY(0deg) rotateZ(0deg) scale(1.2);
    }
    :is(img, iframe) {
        width: 100%;
        height:100%;
        object-fit: cover;
        z-index:1;
        position: relative;
    }
    swiper-container {
        position: relative;
        height:100%;
        z-index:1;
        --swiper-theme-color: var(--c-primary);     
        --swiper-navigation-size: var(--text-4xl);    
        .swiper-button-next, .swiper-button-prev {
            background: var(--c-background);
            padding: var(--space-s) var(--space-m);
            
        }        
    }
    
}

.swiper-pagination {
    pointer-events:none;
}



.main-portfolio__content {
    // grid-area: content; 
    container-type: inline-size;
    width: 100%;
    align-self: stretch;
    overflow: auto; 
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none;
    padding-inline: var(--content-padding-inline) calc(var(--content-padding-inline) / 1.5);  
    font-size: clamp(0.875rem, 0.75rem + 0.35cqh, 1rem);    
    max-width: min(var(--content-min-width), 100%);
    margin: auto 0;    
    // background: var(--c-background);
    padding-block-end: var(--space-2xl);
    h3, summary {
        @include heading-m;
    }
    &:after, &:before {
        content: '';
        position: absolute;
        top:0;
        left:0;
        inset:0;
        width:100%;
        height: 100%;
        background-color: var(--c-background);
        opacity: 0.8;
        background-size: 4px 4px;
        background-image: repeating-linear-gradient(45deg, var(--c-dark) 0, var(--c-dark) 0.4px, var(--c-background) 0, var(--c-background) 50%);    
        z-index:-1;
        mix-blend-mode: color-burn;
    }
    &:before {
        clip-path: inset(calc(100% - 6px) 0 0 0);
        display:none;
    }
    &:after {
        clip-path: inset(0 0 0 calc(100% - 10px));
    }
}

.main-portfolio__nav {
    // min-height: var(--header-height);
    display: grid;
    width: max-content;
    margin-inline: auto 0;
    padding-block: var(--space-s);
    width: calc(100% - 8rem);
    &:before {
        content: "";
        display: block;
        height: var(--content-padding-inline);
        position: absolute;
        bottom: 0;
        right: 18px;
        width: calc(100% - 18px);
        background: linear-gradient(0deg, var(--c-background) 70%, transparent);
        display:none;
    }    
    ul {
        align-items: center;
        justify-content: flex-end;        
        grid-column-start: 2;
        display: flex;
        list-style-type: none;
        gap: 0 clamp(0.5rem, 1vw, 1rem);
        padding: 0;        
        padding-inline-start: var(--content-padding-inline);
        margin:0;
        // background: #BEAF99;
        z-index: 1;
    }
    li {
        &:first-of-type {
            flex-basis: 100%;
            justify-content: flex-start;
            display: flex;
        }
    }
    &:hover {
        :is(.main-portfolio__next, .main-portfolio__prev) {            
            &:is(:not(:hover)) {
                --pseudo-scale: 0.90;
            }
        }
    }
    @media (min-width: 768px) {
        margin-inline: auto var(--space-3xl);
    }
}

@mixin button-pseudo() {
    content: '';
    position: absolute;
    width: var(--pseudo-width, 100%);
    height: var(--pseudo-height, auto);
    background: var(--pseudo-bg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;       
}

:is(.main-portfolio__next, .main-portfolio__prev, .main-portfolio__back) {
    &:before {
        @include button-pseudo;
    }
}

:is(.main-portfolio__next, .main-portfolio__prev) {
    aspect-ratio: 1;
    width: clamp(5rem, 1rem + 6vw, 8rem);
    display: flex;
    align-items: center;   
    background: transparent;     
    align-content: center;  
    padding:0;
    &:before,
    &:after {
        aspect-ratio: 1 / 1;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        scale: var(--pseudo-scale, 1.165);
        // z-index: -1;
        @media(pointer: fine) {
            transition: scale 1350ms cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }
    &:before {
        z-index:-2;
        filter: brightness(1.1);        
    }
    &:after {
        @include button-pseudo;
        -webkit-mask: var(--pseudo-bg);
        -webkit-mask-size: contain;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;  
        z-index:-1
    }
    @media(pointer: fine) {
        &:hover {
            &:before {
                --pseudo-scale: 1.25;
                filter: brightness(1.15);
            }
            &:after {
                --pseudo-scale: 1.125;            
                // -webkit-mask: var(--pseudo-bg);
                // -webkit-mask-size: contain;
                // -webkit-mask-position: center;
                // -webkit-mask-repeat: no-repeat;              
            }        
        }   
    }
    .button__subtitle {
        border-top: 1px solid var(--c-dark);
        padding-top: var(--space-s);
        margin-top: var(--space-s);
    }     
    @media(any-pointer: coarse) {
        height: clamp(4rem, 1rem + 6vw, 8rem);
        max-height: calc(100% - 1rem);
        width: auto;        
    }

}

.main-portfolio__back {
    &:not(:hover) {
        background: transparent;
    }
    &:before {
        position: relative;
        // --pseudo-bg: url('~/assets/arrow-back.png');
        --pseudo-width: 0;
        --pseudo-height: 0;
        border-top: 8px solid transparent;
        border-right: 13px solid var(--c-dark);
        border-bottom: 8px solid transparent;
        margin-inline-end: var(--space-s);
    }
}

.main-portfolio__prev {
    --pseudo-bg: url('~/assets/stone-2.svg');
    --pseudo-scale: 1;
}

.main-portfolio__next {
    color: var(--c-background);
    --pseudo-bg: url('~/assets/stone-1.svg');
}

.main-portfolio {
    position: fixed;
    --header-height: clamp(6rem, 15vmin, 10rem);
    --prevNext-height: 6rem;
    --article-grid-cols: repeat(auto-fill, minmax(max(500px, 33vw), 1fr));
    --article-grid-rows: auto;
    --visual-min-width: max(#{$visual-min-width}, 58vw);
    --content-min-width: max(#{$content-min-width}, 35vw);

    // grid-template-rows: var(--header-height) 1fr;
    grid-template-rows: 1fr;
    --content-padding-inline: clamp(3cqi, 600px + 2vmin, 6cqi);
    container-name: portfolio;
    container-type: inline-size;      
    header {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        // height: 100%;
        align-items: center;       
        padding: 1rem; 
        // position: sticky;
        top:0;
        position: fixed;
        height: var(--header-height);
        z-index:1;
        pointer-events: none;
        @media (pointer: coarse) {
            justify-content: center;
        }
        a {
            pointer-events: all;
        }
    }
    .header--project {
        background: var(--c-background);
    }
    @media (min-width: 768px) {
        .header--project {
            background: transparent;
        }        
    }
    :where(section) {
        height:100%;
        max-width: 100vw;      
    }
}

:where(.main-portfolio__article) {

    --wrapper-width: 2300px;
    @include container(true);
    width: 100%;
    height: 100%;
    place-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    perspective: 900px;
    padding-block-start: var(--header-height);
}

.main-portfolio__article-container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;    
    perspective: 2500px;
    &::before {
        content: '';
        display: block;
        width: min(60rem, 100vw);
        aspect-ratio: 1 / 1;
        position: fixed;
        background-image: url('~/assets/stone-2.svg');
        background-repeat: no-repeat;
        background-size: contain;
        top: 40dvh;
        transform: translateY(-50%) skew(10deg, 10deg) translateX(-50%);
        opacity: 0.2;
        left: 37%;
        max-height: 70vh;        
    }
}

@container portfolio (max-width: #{$container-max-bp}) {
    
    section {
        overflow: auto;
        overflow-x: hidden;
        overscroll-behavior: none;
    }

    .main-portfolio__article {
        height:auto;
        min-height:100%;
    }

    .main-portfolio__content {
        max-height: none;
        height: auto;
        // max-width: none;
        margin: 0;
        &:after {
            display:none;
        }
    }

    .main-portfolio__nav {
        display: flex;
        position:sticky;
        bottom:0;
        max-width: 100vw;
        width: 100vw;
        margin-inline: calc(-50vw + 50%); 
        background: var(--c-background);   
        // min-height: max-content;    
        ul {
            padding-inline-start: 0;
        }
    }    
    

// //     .main-portfolio__visual {
// //         transform: scale(1.1) translateX(-5%);
// //     }
}

@container portfolio (max-width: 550px) {

    // .main-portfolio {
    //     header {
    //         position:relative;
    //     }
    // }

    // .main-portfolio__article {
    //     padding-block-start:0;
    // }

    .main-portfolio__visual {
        width: 100vw;
        margin-inline: calc(-50vw + 50%);
        max-width: none;
        aspect-ratio: 3 / 2;
        min-height: 35dvh;
        transform: none;     
        &:hover {
            transform:none;
        }   
        &:has(iframe) {
            aspect-ratio: 1921 / 1120;
            min-height:auto;            
        }
    }

}

@container portfolio (min-width: #{$container-max-bp}) {
    // .main-portfolio__back {
    //     position: absolute;
    //     display: flex;
    //     align-items: center;
    //     top: 0;
    //     left: 12rem;
    //     // translate: 0 calc(-100% - 2rem);
    // }

    .main-portfolio__back {
        position: fixed;
        top: calc(var(--header-height) / 2);
        left: 10rem;
        z-index: 2;
        display: none;
    }    

}

.main-portfolio__title {
    @include heading-5xl;
    --headingFontSize: clamp(var(--text-3xl), 8cqi + 1cqh, var(--text-5xl));
    max-width: 15ch;
    line-height: 1;
    margin:0;
    margin-block-start: calc(var(--content-padding-inline) * 1.5);
    margin-block-end: 0.5em;
    @media (min-min: 768px) {
        margin-block-start: calc(var(--content-padding-inline) * 2.5);
    }
}

.main-portfolio__desc {
    max-width: 70ch;
}

.main-portfolio__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    button {
        appearance: none;
        background: var(--c-dark);
        border: 0;
        color: var(--c-background);    
        text-transform: uppercase;
        font-weight: 600;                        
    }
}


.c-logo {
    height:100%;
    position:relative;
    overflow: hidden;
    svg {
        height:100%;
        aspect-ratio: 73/80;
        width: auto;
    }
}

.header__inner {
    height:100%;
}



.container {
    @include container();
}

.main-portfolio__index {
    --wrapper-width: 2200px;
    @include container(true);
    --wrapper-inline: max(clamp(2rem, 5vw, 10rem), calc( (100vw - calc(var(
        --wrapper-width) - var(--wrapper-padding) * 2)) / 2));
    --wrapper-padding: clamp(var(--space-m), 5vw, var(--space-4xl));
    height:100%;
    overflow: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;   
    overscroll-behavior: none;
    // max-height: calc(100vh - var(--header-height)); 
    scroll-padding: calc(var(--header-height) / 1.5);
    max-height: 100vh;    
    > h1 {
        position:absolute;
        left: 1rem;
        bottom:2rem;
        --headingTextTransform: none;
        --headingFontSize: min(12cqi, 6rem);
        margin: 0;
        mix-blend-mode: soft-light;
        line-height: 1; 
        z-index: 1;
        color: rgb(44 44 44); // change this
        -webkit-text-stroke: var(--text-stroke, 1px black);        
        span {
            font-size: 0.45em;
            display: block;
            line-height: 0;
        }       
    }
    @media (min-width: 50em) {
        scroll-padding: calc(var(--header-height) / 2);
    }
}

.main-portfolio__projects {
    --gap: clamp(2rem, 5cqw, 4rem);        
    height: calc(100vh - (min(30cqi, 7rem) * 2)); // * 2 for mobile
    @supports (min-height: 100dvh) {
        height: calc(100dvh - (min(18cqi, 7rem) * 2)); // * 2 for mobile
    }    
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( clamp( 33.3333% - var(--gap), (40rem - 100%) * 999, 100%), 1fr ) );
    gap: var(--gap);
    scroll-snap-align: start;
    perspective: 500px;
    scroll-margin: 0.75rem 0;
    @media (max-width:50em) {
        grid-template-columns: repeat(2, 1fr);        
    } 
    @media (min-width: 50em) {
        height: calc(100vh - (min(12cqi, 6rem) * 3)); // * 2 for mobile
        &:has(a:hover) {
            :not(a:hover) {
                span {
                    clip-path: inset(1px);
                    background: hsl(var(--bodyBgH) var(--bodyBgS) var(--bodyBgL)/1);
                    strong {
                        opacity: 0.5;
                    }               
                }
                img {
                    opacity:0;
                }          
                &:hover {                
                    span {
                        // clip-path: inset(0.75rem);
                        box-shadow: 7.2px 14.4px 14.4px hsl(0deg 0% 0% / 0.28);
                        clip-path: inset(0); 
                        // opacity:0;                   
                        strong {
                            opacity:1;
                        }
                    }  
                    img {
                        opacity:1;
                    }          
                }
            }
        }
        &:has(.main-portfolio__project-item:hover) {
            :not(.main-portfolio__project-item:hover) {
                &:hover {
                    .main-portfolio__project-item {
                        transform: rotateZ(20deg) translateZ(10rem);
                        z-index: 1;                   
                    }                                            
                }
            }
            .main-portfolio__project-item {
                background: hsl(var(--darkH) var(--darkS) var(--darkL)/0.2);
                &:after,
                &:before {
                    opacity:0;
                }
                &:hover {
                    z-index: 1;
                    transform: rotateZ(20deg) translateZ(10rem);   
                    // box-shadow: 29.2px 29.4px 12.4px hsla(0, 0%, 0%, 0.28);
                    clip-path: none;  
                    &:after,
                    &:before {
                        opacity:1;
                        filter: blur(40px);
                    }                                             
                }
                &:nth-child(1) {
                    &:hover {
                        transform: rotateZ(20deg) translateZ(10rem) translateX(50%);
                    }
                }
                &:nth-child(2) {
                    &:hover {
                        transform: rotateZ(20deg) translateZ(10rem) translateY(50%);
                    }
                }                
                &:nth-child(3) {
                    &:hover {
                        transform: rotateZ(20deg) translateZ(10rem) translate(-50%, 75%);
                    }
                }            
                &:nth-child(4) {
                    &:hover {
                        transform: rotateZ(20deg) translateZ(10rem) translate(50%, -50%);
                    }
                } 
                &:nth-child(5) {
                    &:hover {
                        transform: rotateZ(20deg) translateZ(10rem) translate(0%, -25%);
                    }
                }                 
                &:nth-child(6) {
                    &:hover {
                        transform: rotateZ(20deg) translateZ(10rem) translate(-50%, 25%);
                    }
                }                        
                
                
            }
        }
    }  
    @media (min-width: 1300px) {
        height: calc(100vh - (min(12cqi, 6rem) * 4)); // * 2 for mobile
    }     
    // &:first-of-type {
    //     margin-top: var(--header-height);
    // }
    > div {
        display: grid;
        place-content: center;
        background: var(--c-dark);        
        grid-template: 1fr / 1fr;
        position: relative;
        container-type: inline-size;
        // overflow: hidden;
        transform: rotateZ(20deg);
        transition: transform 1200ms cubic-bezier(0.165, 0.84, 0.44, 1);        
        max-height: 25dvh;
        will-change: transform;
        img {
            position: absolute;
            inset:0;
            width: 100%;
            height:100%;
            mix-blend-mode: color;
            object-fit: cover;
            object-position: top left;       
            filter: saturate(0.75); 
            opacity: 0.5;    
            transition: all 1200ms cubic-bezier(0.165, 0.84, 0.44, 1); 
        }
    }    
    a {
        font-family: var(--heading-font);
        text-decoration: none;
        color: var(--c-background);
        display: grid;
        place-content: stretch;    
        font-size: 5.5cqi;
        z-index: 1;
        justify-content: center;
        text-align: center;
        grid-template: 1fr / 1fr;
        @media (min-width: 50em) {        
            &:hover {
                span {                
                    background: hsl(var(--bodyBgH) var(--bodyBgS) var(--bodyBgL)/1);
                    // translate: calc(-15% - 5ch) calc(1em);
                    scale: 0.7;    
                    // strong {
                    //     font-size: get('heading.l.size');
                    // }                         
                }
                img {
                    opacity: 1;
                }
            }
            &:not(:hover) {
                span {
                    transition-delay: 300ms;
                }                        
            }
        }
    }    
    span {
        // max-width: calc(100% - 1.5rem);
        // height: calc(100% - 1.5rem);
        width:100%;
        height: 50%;
        clip-path: inset(clamp(0.5rem, 0.1vw, 0.75rem));
        align-items: center;
        display: flex;
        width: 100%;
        background: hsl(var(--bodyBgH) var(--bodyBgS) var(--bodyBgL)/0.95);
        margin: auto auto 0 auto;
        justify-content: flex-end;
        z-index: 1;
        color: var(--c-dark);    
        align-items: flex-end;
        padding-inline-end: clamp(1.25rem, 0.1vw, 1.75rem);
        padding-block-end: clamp(1.25rem, 0.1vw, 1.75rem);
        text-align: right;  
        backdrop-filter: blur(22px);  
        transform-origin: top left;   
        // transition: translate 1200ms cubic-bezier(0.165, 0.84, 0.44, 1), background-color 1200ms cubic-bezier(0.165, 0.84, 0.44, 1), clip-path 200ms cubic-bezier(0.165, 0.84, 0.44, 1);  
        transition: all 250ms ease-in;
        // @media (min-width: 50em) {  
        //     margin: auto;
        //     height: 100%;
        // }
    }
    strong {
        max-width: 10ch;
        line-height: 1;
        // font-size: get('heading.2xl.size');
        font-size: clamp(var(--text-s), 3cqi + 1cqh, var(--text-2xl));
    }
}

.main-portfolio__projects-container {
    display: grid;
    gap: 1.5rem;
    // height: calc(100% * var(--sectionNo, 2));    
    // transform: rotateX(45deg) skewY(-10deg) rotateZ(0deg);
    transform: rotateX(45deg) skewY(-10deg) rotateZ(0deg) rotateX(-12deg);    
    gap: 100vh;    
    // display: contents;    
}

.main-portfolio__projects-container--fade {
    opacity: 0.05;
    pointer-events: none;
}

.spinner-invert {
    .lds-roller {
        filter: invert(1);
    }
}


.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.main-portfolio__project-item {
    transition-delay: calc(100ms * var(--itemIndex));
    &:after,
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        left: 1rem;
        top: 1.75rem;
        opacity: 0.5;
        background-size: 4px 4px;
        background-image: repeating-linear-gradient(45deg, var(--c-dark) 0, var(--c-dark) 0.4px, transparent 0, transparent 50%);
        transition: all 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &:after {
        clip-path: inset(0 0 0 calc(100% - 1rem));
        height: calc(100% - 0.5rem);
        left: 1.1rem;
    }
    &:before {
        clip-path: inset(calc(100% - 1rem) 0 0 0);
        width: calc(100% - 1rem);  
        top: 1.2rem;
        left: 1.1rem;
    }
    @media (max-width: 50em) {
        &:after {
            clip-path: inset(0 0 0 calc(100% - 1rem));
            height: calc(100% - 1rem);
            left: 0.8rem;            
        }
        &:before {
            clip-path: inset(calc(100% - 0.7rem) 0 0 0);
            width: calc(100% - 1rem);
            top: 0.8rem;
            left: 1.1rem;            
        }
    }
}


/// Page transitions
/// 
.not-supported {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    justify-content: center;
    text-align: center;
    h2 {
        margin:0;
    }
    > * {
        margin:0;
        line-height: 1.2;        
        + * {
            margin-top: clamp(var(--space-m), 0.5vw, var(--space-l));
        }
    }    
    @supports not (font-size: 1cqw) {
        h2 {
            font-size: clamp(var(--text-4xl), var(--text-3xl) + 1.5vw, var(--text-6xl));
        }
        p {
            font-size: clamp(var(--text-l), var(--text-s) + 1.5vw, var(--text-2xl));
        }
        > * {
            max-width: min(700px, calc(100% - 3rem));
            margin:auto;
        }
    }
    .lds-roller {
        filter: invert(1);
    }
}

.main-portfolio__filter {
    --inset: clamp(0.75rem, 1vw, var(--space-xl));
    --size: 6rem;
    position: fixed;
    bottom: 1.5rem;
    right: var(--inset);
    z-index:2;
    pointer-events: all;
    h3 {
        // temp
        margin:0;
        max-width: 10ch;
        text-align: center;
        transform: translateY(2.6em);
        z-index: 1;        
        user-select: none;
        pointer-events: none;        
    }
    // > *:not(.main-portfolio__filterBackdrop) {
    //     z-index:2;
    // }
    &:hover {
        .main-portfolio__filterButton {
            background: var(--c-grey2);
        }
    }
}

.main-portfolio__filter__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    --headingFontSize: calc(var(--text-s) / 1.5 ); 
    z-index:12;
    position: relative;
    @media (pointer:coarse) {
        transform:scale(0.85);
    }
}

.main-portfolio__filterButton {    
    display: grid;
    place-content: center;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;    
    position: relative;
    grid-template: 1fr/1fr;
    transition: all 150ms cubic-bezier(0.165, 0.84, 0.44, 1);    
    @media (pointer:coarse) {
        background: var(--c-grey2);        
    }
    &:hover {
        background: var(--c-grey2);
    }
    a {
        width:100%;
        height: 100%;
        display: grid;
        place-items: center;
        grid-template: 1fr / 1fr;
        > * {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
        }
        span {
            background: var(--c-dark);
            border-radius: 50%;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--c-light);
            clip-path: circle(35% at 50%);
            transform: translateY(0%) translateY(63%) scale(1);
        }
    }       
    svg {
        transform: translateY(0.25em);
        width: calc(var(--size) - (var(--size) * 0.5));
        height: calc(var(--size) - (var(--size) * 0.5));    
    }  
}

.main-portfolio__filter--isOpen {
    .main-portfolio__filterButton {
        background: var(--c-grey2);    
    }
}

.main-portfolio__filterRadioGroup {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    margin-top: -1.2em;    
    > div {
        position:relative;
        display: flex;
    }
    input {
        appearance: none;  
        display: none;     
        &:checked {
            + label {
                &:before {
                    background: var(--c-dark);
                    box-shadow: 0 0 0px 2px var(--c-background) inset, 0 0 0 2px var(--c-dark);
                }
                span {
                    color: var(--c-light);
                }
            }
        } 
    }
    label {
        position: relative;
        // font-size: calc((var(--text-s) / var(--textSizeIncrement) / var(--textSizeIncrement)));

        font-size: calc((var(--text-s) / var(--textSizeIncrement) / var(--textSizeIncrement)) / var(--textSizeIncrement));
        font-family: var(--headingFontFamily);
        text-transform: uppercase;
        font-weight: 600;
        width:100%;
        max-width: clamp(3rem, 2rem + 1vw, var(--size));
        &:before {
            content: "";
            display: flex;
            place-content: center;
            // border: 2px solid var(--c-dark);
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 50%; 
            box-shadow: 0 0 0 2px var(--c-dark);
        }        
        span {
            position:relative;
            display: flex;
            padding: var(--space-s);
            aspect-ratio: 1;
            align-items: center;
            justify-content: center;
        }
    }
}

.main-portfolio__filterPanel {
    display: flex;
    flex-direction: column;
    // padding-block-start: var(--space-m);

}

.main-portfolio__filterClose {
    position: absolute;
    right: 0;
    top: 1.5em;
    z-index: 1;    
}

.main-portfolio__filterBackdrop {
    position: fixed;
    inset:0;
    width:100%;
    height:100%;
    z-index: 1;
    background: var(--c-grey2);
    // clip-path: circle(0% at bottom right);
    // transition: clip-path 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.filterList-enter-active, .filterList-leave-active {
    transition: all 0.3s ease;
}
  
.filterList-enter, .filterList-leave-to {
    opacity: 0;
    transform: translateY(-30px);
}

.filterList-move {
    transition: transform 0.5s;
}
  
